In [1]:
#-----------------------------------------------------------------------------------------------------------------------------
#----------------------------------------------[ Needed Libraries Import ]----------------------------------------------------
#-----------------------------------------------------------------------------------------------------------------------------

In [2]:
import pandas as pd
import easygui
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
#-----------------------------------------------------------------------------------------------------------------------------
#---------------------------------------------------[ Import DataBase ]-------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------------------------

In [4]:
pathDataTelecom=easygui.fileopenbox()
pathDataTelecom

'S:\\TunisieTelecom\\ECHANTILLON.xlsx'

In [5]:
dataTelecom=pd.read_excel(pathDataTelecom)
dataTelecom.head(10)

,STATUT,OFFRE,ANC_M,HANDSET,revenu_voix,revenu_inter,NB_JOUR_ACTIVITE_TAXE,NB_JOUR_APPEL_TAXE,DUREE_APPEL_TOT,DUREE_APPEL_TAXEE,...,FREQ_USSD_VOIX,FREQ_USSD_SMS,VOLUME_SESSION,VOLUME_SESSION_WEEKEND,REVENU_VAS,ARPU,P_revenu_data,P_revenu_voix_c,P_revenu_vas_c,id_client
0,A,PRE - TT 1000%,143,2G,8.94,0.0,14.33,14.33,666.64,12.12,...,1.18,184.0,0.02,0.01,0.00,33.01,0.00,0.27,0.00,1.0
1,A,PRE - 900 bonus,142,2G,6.32,0.0,7.33,7.00,50.09,6.49,...,184.00,184.0,0.00,0.00,0.99,7.31,0.00,0.86,0.14,2.0
2,A,PRE - TT 1500%,142,2G,3.13,0.0,7.67,5.00,42.72,3.71,...,184.00,184.0,0.00,0.00,0.00,3.23,0.00,0.97,0.00,3.0
3,A,PRE - offre 40,140,2G,4.55,0.0,17.67,17.67,80.43,80.43,...,184.00,184.0,0.21,0.00,0.00,4.55,0.00,1.00,0.00,4.0
4,A,PRE - TT 1500%,142,2G,0.00,0.0,1.33,0.00,3.10,0.00,...,184.00,184.0,0.00,0.00,0.53,2.03,0.74,0.00,0.26,5.0
5,A,PRE - TT 1500%,142,2G,10.59,0.0,8.67,8.67,203.96,12.35,...,184.00,184.0,0.00,0.00,0.00,10.59,0.00,1.00,0.00,6.0
6,A,PRE - Trankil TT,142,2G,4.51,0.0,20.67,19.33,95.57,89.02,...,184.00,184.0,0.00,0.00,0.00,4.99,0.00,0.90,0.00,7.0
7,A,PRE - Double,140,2G,5.07,0.0,10.67,10.67,36.22,17.39,...,184.00,184.0,111.62,49.83,0.00,5.85,0.13,0.87,0.00,8.0
8,A,PRE - TT 1500%,143,2G,12.94,0.1,13.33,6.67,905.15,16.29,...,184.00,184.0,1407.94,330.75,11.17,32.55,0.25,0.40,0.34,9.0
9,A,PRE - Double,141,2G,0.77,0.0,6.00,1.00,25.01,3.38,...,184.00,184.0,0.00,0.00,4.88,5.67,0.00,0.14,0.86,10.0

In [6]:
# selection of the most important variables for each clustering
selected_variables = [
    'STATUT','FREQ_USSD', 'revenu_cdr_c','DUREE_APPEL_TOT','MNT_RECH','VOLUME_SESSION', 'MNT_FORFAIT_DATA','FREQ_ACT_OUT'
]

# Select the desired variables from the dataframe
dataTelecomSelected = dataTelecom[selected_variables].copy()
dataTelecomSelected.head(2000)

,STATUT,FREQ_USSD,revenu_cdr_c,DUREE_APPEL_TOT,MNT_RECH,VOLUME_SESSION,MNT_FORFAIT_DATA,FREQ_ACT_OUT
0,A,1.18,8.94,666.64,33.67,0.02,0.00,0.03
1,A,184.00,7.31,50.09,7.33,0.00,0.00,0.30
2,A,184.00,3.23,42.72,3.67,0.00,0.00,0.60
3,A,184.00,4.55,80.43,4.33,0.21,0.00,0.60
4,A,17.96,0.53,3.10,2.67,0.00,1.50,2.65
...,...,...,...,...,...,...,...,...
1995,A,15.00,2.90,7.30,3.67,135.62,0.72,2.14
1996,A,184.00,4.54,24.52,4.33,0.00,0.00,1.29
1997,A,22.56,59.62,435.24,66.67,2381.06,6.00,0.05
1998,A,184.00,9.45,74.17,9.33,0.00,0.00,0.26
1999,A,11.24,2.45,7.33,8.67,598.84,2.40,2.50

In [7]:
dataTelecomSelectedSample=dataTelecomSelected.sample(n=1000)
dataTelecomSelectedSample.dropna()
dataTelecomSelectedSample.head(1000)

,STATUT,FREQ_USSD,revenu_cdr_c,DUREE_APPEL_TOT,MNT_RECH,VOLUME_SESSION,MNT_FORFAIT_DATA,FREQ_ACT_OUT
38163,A,184.00,1.83,30.27,3.00,0.00,0.00,0.70
66899,S,184.00,0.97,15.55,0.00,0.00,0.00,1.03
75020,A,184.00,3.56,89.60,1.67,0.00,0.00,0.78
44352,A,184.00,4.98,36.55,5.67,0.00,0.00,0.85
8972,A,6.42,10.12,641.13,30.67,3678.37,18.47,0.09
...,...,...,...,...,...,...,...,...
40351,S,184.00,1.33,28.18,1.33,0.00,0.00,1.32
11010,A,184.00,1.60,9.04,2.33,0.00,0.00,2.57
20414,A,184.00,9.39,93.78,8.00,0.00,0.00,0.29
27374,A,184.00,5.39,46.50,5.33,0.00,0.00,0.57
2659,A,10.00,2.62,179.26,34.67,32846.84,32.02,0.33

In [8]:
#-----------------------------------------------------------------------------------------------------------------------------
#-------------------------------------------------[ LogisticRegression ]------------------------------------------------------
#-----------------------------------------------------------------------------------------------------------------------------

In [9]:

# Sélectionnez les caractéristiques (features) et la variable cible
features = ['FREQ_USSD', 'revenu_cdr_c', 'DUREE_APPEL_TOT', 'MNT_RECH',
            'VOLUME_SESSION', 'MNT_FORFAIT_DATA', 'FREQ_ACT_OUT']
target = 'STATUT'

# Séparez les données en caractéristiques (X) et variable cible (y)
X = dataTelecomSelected[features]
y = dataTelecomSelected[target]

# Gérez les valeurs manquantes en utilisant SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_imputed = imputer.fit_transform(X)

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X_imputed, y, test_size=0.2, random_state=42)

# Créez et ajustez le modèle de régression logistique
model = LogisticRegression()
model.fit(X_train, y_train)

# Faites des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Affichez les résultats de la classification
print("Matrice de confusion:\n", confusion_matrix(y_test, y_pred))
print("\nRapport de classification:\n", classification_report(y_test, y_pred))

S:\TunisieTelecom\TelecomPyton\venv\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Matrice de confusion:
 [[13189   590]
 [ 1204  3446]]

Rapport de classification:
               precision    recall  f1-score   support

           A       0.92      0.96      0.94     13779
           S       0.85      0.74      0.79      4650

    accuracy                           0.90     18429
   macro avg       0.89      0.85      0.86     18429
weighted avg       0.90      0.90      0.90     18429

In [10]:
new_data = pd.DataFrame({
    'FREQ_USSD': [184.00],  # Remplacez par vos valeurs d'entrée
    'revenu_cdr_c': [0.3],
    'DUREE_APPEL_TOT': [7.82],
    'MNT_RECH': [0.33],
    'VOLUME_SESSION': [0],
    'MNT_FORFAIT_DATA': [0],
    'FREQ_ACT_OUT': [6.4]
})

# Gérez les valeurs manquantes dans les nouvelles données
new_data_imputed = imputer.transform(new_data)

# Faites des prédictions sur les nouvelles données
predictions = model.predict(new_data_imputed)

# Affichez les prédictions
print("Predicted Statut :", predictions)

Predicted Statut : ['S']